:root {
    --main-color: #5C5552;
    --accent-color: #c8bdb2;
    --background-color: #f9f4f7;
    --text-color: #433633;
    --section-color:#b1a59b;
}

body {
    margin: 16px;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
}

main {
    max-width:  1200px;
    margin: 0 auto;
    padding: 10px;
}

header {
    background-color: var(--accent-color);
    color: black;
    padding: 20px 10px;
    text-align: center;

    border: 3px solid var(--main-color);
    border-radius: 10px;
}

header h1 {
    margin: 8px;
    font-size: xx-large;
    letter-spacing: 1px;
}

nav {
    margin-top: 20px;
    text-align: center;
}

nav a {
    color: var(--section-color);
    text-decoration: none;
    font-weight: bold;
    margin: 0 12px;
    padding: 8px 12px;
    border-radius: 6px;
    background-color: var(--background-color);
    text-decoration: underline;
}

section h2 {
    color: var(--text-color);
    margin: 10px 0;
}

section h3 {
    color: var(--text-color);
    margin: 15px 0;
}

section h2{
    color: var(--text-color);
    margin: 10px;
}

p {
    font-size: medium;
    margin-bottom: 15px;
}

#about img {
    float: left;
    width: 400px;
    max-width: 100%;
    margin: 15px 20px 15px 0px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.18);
}

#about p {
    padding-left: 25px;
}

#about ul {
    padding-left: 35px;
}

#projects a {
    color: var(--main-color);
    font-weight: bold;
}

#projects a {
    color: var(--accent-color);
    text-decoration: underline;
}

#projects img {
    width: 300px;
    max-width: 100%;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.18);
}

form {
    margin-top: 20px;
}

label {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--main-color);
}

input {
    display: block;
    width: 100%;
    max-width: 500px;
    padding: 10px;
    border: 1px var(--main-color);
    border-radius: 6px;
    font-size: medium;
    box-sizing: border-box;
}

textarea {
    display: block;
    width: 100%;
    max-width: 500px;
    height: 150px;
    padding: 10px;
    border: 1px var(--main-color);
    border-radius: 6px;
    font-size: medium;
    box-sizing: border-box;
}

button {
    margin-top: 20px;
    padding: 12px 25px;
    background-color: var(--section-color);
    color: white;
    border: 1px solid var(--main-color);
    border-radius: 8px;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
}