CSS style sheet
:root {
    --main-color: #5C5552;
    --accent-color: #DECBB7;
    --background-color: #F7F0F5;
    --text-color: #433633;
    --section-color:#8F857D;
}

body {
    margin: 16px;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
}

main {
    max-width:  1200px;
    margin: 0 auto;
    padding: 10px;
}

header {
    background-color: var(--main-color);
    color: black;
    padding: 20px 10px;
}

header h1 {
    margin: 8px;
    font-size: xx-large;
    letter-spacing: 1px;
}

nav {
    margin-top: 20px;
}

nav a {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: bold;
    margin: 0 12px;
    padding: 8px 12px;
    border-radius: 6px;
    background-color: var(--background-color);
    text-decoration: underline;
    text-align: center;
}